

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    background-color: gainsboro;
}

#accbanner {
     height:400px;
     width: 100%;
}
div:nth-of-type(2){
width:100%;
}
li {
 display: inline;
}

nav {
    display: flex;
    justify-content: center;
}
 
button{
    margin-top: 100px;
    margin-bottom: 100px;
    border: black 2px solid;
    border-radius: 20%;
    padding: 10px;
}



h1 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    color: #27409e;
}

.accnavimg {

    height: 100px;
    width: 100px;
    border-radius: 20%;
    padding: 10px;
  
}

section:nth-of-type(1) {
    display: flex;
    align-self: center;
    padding: 100px;
 
}

section:nth-of-type(1) {
    flex-direction: column;
}

article:nth-of-type(1){
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: gray;

}

p:nth-of-type(1) {
    font-size: 1.5em;
    color: #27409e;
    font-weight: 500;
}

#first {
    height: 300px;
    width: 300px;
    padding: 20px;
}

section:nth-of-type(2) {
    background-color: gray;
    padding: 30px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section:nth-of-type(2) {
    animation: slide 2s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        transform: translateX(-600px);
        background-color: black;
      
    }

    to {
        transform: translateX(0px);
        background-color: gray;

    }
}

section:nth-of-type(3) {
    display: flex;
    justify-content: center;
}

section:nth-of-type(3) {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

section:nth-of-type(3) {
    animation:scale 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes scale {
    from{
        transform: scale(0%);
    }
to {
    transform: scale(100%);
}
    
}